*{
    padding: 0;
    margin: 0;
}
.total-content{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/*LOADING*/

@keyframes load{
    to{transform: rotate(360deg);}
}

.pre{
    z-index: 1000;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 3px #66c9ea solid;
    border-right: 2px #66c9ea dashed;
    border-bottom: 3px #66c9ea solid;
    border-left: 2px #66c9ea dashed;
    background-position: center;
    background-size: contain;
    animation: load 4s infinite linear;
}
#load{
    z-index: 999;
    width: 100%;
    height: calc(100% + 80px);
    position: fixed;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;

}/*ROOT*/

:root{
    /*Cor original: #030615*/
    --cor-fundo-preto-header: #030615;
    --cor-fundo-preto-footer: #030615;
    --title-content: #66c9ea;
    --title-content-slider: #008ab8;
}

/*HEADER*/

header{
    display: none;
}

nav{
    background: var(--cor-fundo-preto-header);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    width: 100%;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
.nav-list{
    margin-right: 5%;
    display: flex;
    list-style: none;
    gap: 48px;
    text-align: center;
}
.logo-nome{
    font-size: 1.3em;
    width: auto;
    display: flex;
    gap: 15px;
    margin-left: 5%;
    align-items: center;
    color: #fff;

    & .nomedaempresa{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    & .letreiro{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        width: 85%;
    }
}
#clicou-volta-para-pagina-inicial{
    cursor: pointer;
    text-decoration: none;
}
.nav-item{
    padding: 20px;
    text-decoration: none;
    color: #fff;
}
.nav-list a:hover{
    color: lightblue;
    transition: 0.5s;
}
.linkAtivo{
    color: #ff9900;
}

/*MAIN GERAL*/

.main{
    display: grid;
    background-image: linear-gradient( to right , #aaaffd99 , #2c6fed99 );
}

/*MAIN INDEX*/

/*Slider principal*/

.slide-bar{
    width: 80%;
    height: 100vh;
    overflow: hidden;
    margin: auto;
    padding: 0%;
    text-align: center;
}
.slide-content{
    width: 500%;
    height: auto;
    display: flex;
    margin-top: 10px;
}
.box-slide{
    width: 20%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;

    & .conteudo-box{
        display: grid;
        gap: 20px;
        text-align: left;
    }

    & .box-title{
        font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
        font-size: 3em;
        color: var(--title-content-slider);
    }

    & .box-description{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        text-align: justify;
    }
    & .saiba-mais{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        color: #fff;
        padding: 10px;
    }
    & .btn-saiba-mais, a{
        background: #66c9ea;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 600;
        font-size: 1.2em;
        color: #fff;
        width: 200px;
        height: 60px;
        border-radius: 10px;
        border: #fff;
        cursor: pointer;
    }
    & .btn-saiba-mais:hover, a:hover{
        background: lightgreen;
        transition: 0.6s;
    }
    & .imagem{
        width: 500px;
        height: 500px;
    }
}
.projeto h2{
    text-align: left;
}
.slide-content input{
    display: none;
}
.nav-manual, .nav-auto{
    position: absolute;
    width: 80%;
    margin-top: 40%;
    display: flex;
    justify-content: center;
}
.nav-manual{
    z-index: 1;
}
.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: 0.4s;
}
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 50px;
}
.nav-manual .manual-btn:hover, .nav-auto div:hover{
    background: lightgrey;
}
#radio1:checked ~.nav-auto .auto-btn1, #radio2:checked ~.nav-auto .auto-btn2, #radio3:checked ~.nav-auto .auto-btn3, #radio4:checked ~.nav-auto .auto-btn4, #radio5:checked ~.nav-auto .auto-btn5{
    background: #080040;
}
#radio1:checked ~.primeiro{
    margin-left: 0%;
}
#radio2:checked ~.primeiro{
    margin-left: -20%;
}
#radio3:checked ~.primeiro{
    margin-left: -40%;
}
#radio4:checked ~.primeiro{
    margin-left: -60%;
}
#radio5:checked ~.primeiro{
    margin-left: -80%;
}
.conteiner-traco{
    width: 100%;
    height: 2px;
    border-radius: 20px;
    background-color: #66c9ebe6;
    box-shadow: 1px 2px 4px rgba(90, 90, 90, 0.705);
}


/*CONTEUDOS*/

.conteiner-content{
    background-color: rgb(255, 255, 255);
    width: 80%;
    display: flex;
    border-radius: 50px;
    box-shadow: 3px 3px 10px #46464680;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}
.content{
    width: 100%;
    padding-left: 40px;
    display: grid;
    gap: 50px;
}
.title-content{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 3em;
    color: var(--title-content);
}

.description-content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    text-align: justify;
}
.imagem{
    width: 500px;
    height: 500px;
}

/*CONTEUDO CONNECTION WAVE VALORIZA*/

.conteiner-valoriza{
    width: 80%;
    height: auto;
    display: flex;
    gap: 80px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-block: 20vh;

    & .valoriza-content{
        display: grid;
        place-items: center;
    }
}
.title-valoriza{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #2f5714;
    padding: 5px 10px;
}
.imagem-content{
    width: 150px;
    height: 150px;
    border: 2px dashed #3633cd84;
    border-radius: 50%;
}
.imagem-valoriza{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/*IMAGEM UM MAR DE OPORTUNIDADES*/

.imagem-content-UmMarDeOportunidades{
    width: 100%;
    height: auto;
}
.imagem-UmMarDeOportunidades{
    width: 100%;
    height: 500px;
}

/*CONTEUDO DIFERENCIAIS*/

.content-diferenciais{
    padding-bottom: 50px;
    gap: 15px;

    & .title-content{
        margin-block: 30px;
    }
    & .sub-title-diferenciais{
        font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
        font-size: 1.4em;
        font-weight: 700;
        text-decoration: underline;
        color: #66c9ea;
    }
}

/*CONTEUDO FORMULÁRIO*/

.conteiner-formulario{
    margin-block: 20vh;
}
.content{
    & .link-formulario{
    width: 30%;
    height: 50px;
    }
    & .btn-link-formulario{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.5em;
        border: 2px solid white;
        background-color: #8fe3ffb7;
        cursor: pointer;
        border-radius: 30px 15px 30px 15px;
        width: 100%;
        height: 50px;
    }
    & .btn-link-formulario:hover{
        background: lightgreen;
        border: none;
        border-radius: 10px;
        transition: 0.5s;
    }
}

/*MAIN PROJETO*/

.content-pagina-projeto{
    width: 80%;
    height: 500px;
    margin: auto;
}

/*MAIN EQUIPE*/

.content-pagina-equipe{
    width: 80%;
    margin: auto;
    display: grid;
    justify-content: center;
}
.content-title-equipe{
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    font-size: 2em;
    margin: auto;
}

/*FOOTER*/

.footer{
    background-color: var(--cor-fundo-preto-footer);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteiner-imagem-footer{
    display: flex;
    align-items: center;
    width: 33.33%;
    height: 100%;
}
.imagem-logo-footer{
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 50%;
}
.conteiner-footer-content{
    width: 33.33%;
    height: 30%;
    display: grid;
    align-items: center;
    text-align: center;

    & .title-contatos{
        text-align: left;
        margin-left: 20%;
        margin-bottom: 30px;
    }
    & p{
        margin-left: 20%;
        text-align: left;
    }

    & a{
        text-decoration: none;
        color: white;
    }
    & .icon{
        margin-top: 10px;
        width: 25px;
        height: 25px;
        color: #008ab8;
    }
    & p a{
        text-decoration: underline;
    }
}