*{
    padding: 0;
    margin: 0;
}
.total-content{
    background-image: url(img/fundo-slider.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/*LOADING*/

@keyframes load{
    to{transform: rotate(360deg);}
}
.pre{
    z-index: 1000;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 3px #66c9ea solid;
    border-right: 2px #66c9ea dashed;
    border-bottom: 3px #66c9ea solid;
    border-left: 2px #66c9ea dashed;
    background-position: center;
    background-size: contain;
    animation: load 4s infinite linear;
}
#load{
    z-index: 999;
    width: 100%;
    height: calc(100% + 80px);
    position: fixed;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;

}/*ROOT*/

:root{
    /*Cor original: #030615*/
    --cor-fundo-preto-header: #030615;
    --cor-fundo-preto-footer: #030615;
    --background-title-content: #337def; 
    --title-content: #fcc729;
    --title-content-slider: #7f7f7f;
}

/*!!!!!! HEADER !!!!!!*/

.conteiner {
    background-color: #030615;
}
#navbar {
    padding-inline: 10px;
}
#logo {
    width: 60px;
    margin: 5px;
}
#nome-empresa {
    color: #fff;
    font-size: 0.8rem;
}
.title-nav{
    font-size: 1.6rem;
}
.nav-link {
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem .8rem;
    margin-right: 20px;
}
.nav-link:hover {
    color: #fff;
}
.nav-menu{
    background-color: #000;
}
.nav-mobile{
    display: none;
}
.dropdown-menu{
    background-color: #030615;
    text-align: center;
    width: 100%;
}
.dropdown-item:hover{
    color: #008ab8;
}
.opaco{
    opacity: 0.5;
}
.nav-mobile-menu{
    display: block;
}
.icon-menu{
    color: #fff;
    font-size: 40px;
}
@media (min-width: 1000px) {
    .nav-mobile{
        display: none;
    }
    .title-nav{
        font-size: 2.5rem;
    }
    .main{
        opacity: 1;
    }
    #logo{
        width: 70px;
        margin-right: 10px;
    }
}
/*!!!!!! MAIN GERA !!!!!!*/

.main{
    width: 100%;
    display: grid;
    overflow: hidden;
}
h1{
    font-size: 4rem;
}

/*!!!!!! MAIN INDEX !!!!!!*/

/*Slider principal*/


.slide-bar{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: auto;
}
.slide{
    width: 100%;
    height: auto;
    padding-top: 2rem;
}
.slide-content{
    width: 500%;
    padding-inline: 10rem;
    height: auto;
    display: flex;
}
.box-slide{
    width: 20%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;

    & .conteudo-box{
        width: 45%;
        height: auto;
        display: grid;
    }

    & .box-title{
        width: 100%;
        font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
        font-size: 3em;
        color: #ffae00;
    }

    & .box-description{
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.3em;
        color: #fff;
        text-align: justify;
    }
    & .saiba-mais{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        color: #fff;
        padding: 10px;
    }
    & .btn-saiba-mais{
        background-color:#23a8fb52;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 600;
        font-size: 1.2em;
        color: #fff;
        width: 200px;
        height: 60px;
        border: #fff;
        cursor: pointer;
    }
    & .btn-saiba-mais:hover{
        background: #23a8fb;
        transition: 0.6s;
    }
    & .imagem{
        width: 500px;
        height: 500px;
    }
}
.projeto h2{
    text-align: left;
}
.slide-content input{
    display: none;
}
.nav-manual, .nav-auto{
    position: absolute;
    width: 80%;
    margin-top: 38%;
    display: flex;
    justify-content: center;
}
.nav-manual{
    z-index: 1;
}
.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #ffb700;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: 0.4s;
}
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 50px;
}
.nav-manual .manual-btn:hover, .nav-auto div:hover{
    background: rgb(254, 255, 254);
}
#radio1:checked ~.nav-auto .auto-btn1, #radio2:checked ~.nav-auto .auto-btn2, #radio3:checked ~.nav-auto .auto-btn3, #radio4:checked ~.nav-auto .auto-btn4, #radio5:checked ~.nav-auto .auto-btn5{
    background: #ffae00;
}
#radio1:checked ~.primeiro{
    margin-left: 0%;
}
#radio2:checked ~.primeiro{
    margin-left: -20%;
}
#radio3:checked ~.primeiro{
    margin-left: -40%;
}
#radio4:checked ~.primeiro{
    margin-left: -60%;
}
#radio5:checked ~.primeiro{
    margin-left: -80%;
}
.conteiner-traco{
    width: 100%;
    height: 2px;
    border-radius: 20px;
    background-color: #66c9ebe6;
    box-shadow: 1px 2px 4px rgba(90, 90, 90, 0.705);
}

@media (max-width: 950px){

    .slide-bar{
        width: 100%;
        height: 100vh;

        & .imagem-box , .nav-manual , .nav-auto{
            display: none;
        }

        & .conteudo-box{
            width: 90%;
            margin-left: 40px;
        }
        & .box-title{
            font-size: 34px;
        }
        & .box-description{
            width: 90%;
            font-size: 18px
        }
        & .conteiner-traco{
            display: none;
        }
    }

    .conteudo-box{
        width: 100%;
    }
    .slide-content{
        padding: 0;
    }
    .carousel-control-prev{
        display: none;
    }
    .carousel-control-next{
        display: none;
    }
}

/*CONTEUDOS*/

.conteiner-content{
    background-color: rgba(255, 255, 255, 0.932);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 40%;
    display: grid;
    gap: 20px;
}
.title-content{
    background: var(--background-title-content);
    box-shadow: 0px 4px 10px var(--background-title-content);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    border-radius: 50px;
    padding: 10px 40px;
    font-size: 2.5rem;
    color: var(--title-content);
    text-shadow: #000 1px 1px 2px;
}
.description-content{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    text-align: left;
}
.imagem{
    width: 500px;
    height: 400px;
}

@media (max-width: 950px){
    .conteiner-content{
        display:grid;
        width: 100vw;
        margin: auto;
        text-align: center;

        & .conteiner-imagem{
            margin-block: 50px;

            & .imagem{
                width: 500px;
                height: 300px;
            }
        }
        & .content{
            width: 100%;
            margin: auto;
        }
        & .description-content{
            width: 100%;
            padding-inline: 50px;
        }
        & .title-content{
            padding: 10px;
            margin: 20px 0px;
            border-radius: 0;
        }
        & hr{
            width: 100%;
        }
    }
}

/*CONTEUDO CONNECTION WAVE VALORIZA*/

.conteiner-valoriza{
    width: 100vw;
    display: flex;
    margin-block: 10vh;
}
.conteiner-valoriza:hover .group{
    animation-play-state: paused;
}
.group{
    width: 100%;
    display: flex;
    animation: scrolling 6s linear infinite;
}
.valoriza-content{
    width: 20%;
    display: grid;
    margin-right: 40px;
    place-items: center;
}
.title-valoriza{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #ffae00;
    padding: 5px 10px;
    font-size: 1.2rem;
}
.imagem-content{
    width: 250px;
    height: 200px;
}
.imagem-valoriza{
    width: 250px;
    height: 200px;
    border-radius: 15px;
}

@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @media (max-width: 950px){
    .conteiner-valoriza{
        width: 300%;
        overflow: hidden;
    }
    .valoriza-content{
        margin-right: 10px;
    }
    .imagem-content{
        width: 200px;
        height: 100px;
    }
    .imagem-valoriza{
        width: 200px;
        height: 100px;
        border-radius: 15px;
    }
  }

/*IMAGEM UM MAR DE OPORTUNIDADES*/

.imagem-content-UmMarDeOportunidades{
    width: 100vw;
    height: auto;
}
.imagem-UmMarDeOportunidades{
    width: 100%;
    height: 500px;
}

/*CONTEUDO DIFERENCIAIS*/

.content-diferenciais{
    padding-bottom: 50px;
    gap: 15px;

    & .sub-title-diferenciais{
        font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
        font-size: 1.4em;
        font-weight: 700;
        text-decoration: underline;
        color: #66c9ea;
    }
}

/*CONTEUDO FORMULÃRIO*/
.conteiner-formulario{
    margin-block: 100px;
}
.content{
    & .link-formulario{
    width: 50%;
    height: 80px;
    }
    & .btn-link-formulario{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.5em;
        border: 2px solid white;
        background-color: #8fe3ffb7;
        cursor: pointer;
        border-radius: 30px 15px 30px 15px;
        width: 100%;
        height: 80px;
        margin-left: 50px;
    }
    & .btn-link-formulario:hover{
        background: lightgreen;
        border: none;
        border-radius: 10px;
        transition: 0.5s;
    }
}

@media (max-width: 950px) {
    .total-content{
        overflow-x: hidden;
    }
    .conteiner-formulario{
        margin-bottom: 100px;
    }
}


/*!!!!!! MAIN PROJETO !!!!!!*/

.conteiner-title-projeto{
    background-image: url(img/imagem-inicial-pagina-projeto.png);
    width: 100vw;
    height: 50vh;
    overflow: hidden;

    & .title-inicial-pagina-projeto{
        font-family: "Alegreya Sans" , sans-serif;
        width: 80%;
        height: 50vh;
        margin: auto;
        margin-left: 20px;
        display: grid;
        align-items: center;
        color: var(--title);
        text-shadow: #0099ff 5px 5px 5px;
        }
}

.conteiner-total-content-projeto{
    overflow: hidden;
    width: 70vw;
    margin: auto;
    margin-block: 100px;
    display: grid;
    gap: 10rem;
    justify-content: center;

    & .conteiner-content-projeto{
        width: 100%;
        display: flex;
    }

    & .content{
        width: 100%;

        & .title-content-projeto{
            font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
            font-size: 3em;
            color: #0800ff;
            text-shadow: #0077ffbc 2px 3px 4px;
        }
        & .sub-title-valores{
            background-color: #66ff0084;
            border-radius: 15px;
            padding: 10px;
            margin-block: 10px;
            font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
            color: #0800ff;
            font-size: 1.5em;
        }
        & .description-content-projeto{
            background-color: snow;
            border-radius: 15px;
            padding: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.3em;
            text-align: justify;
        }
    }
    & .imagem-content{
        width: 400px;
        height: 100%;
        display: flex;
        align-items: center;
        
        & .imagens-projeto{
            width: 400px;
            height: 400px;
        }
    }
    & .imagem-content-mobile{
        display: none;
    }
}

@media (max-width: 950px){
    .conteiner-title-projeto{
        & .title-inicial-pagina-projeto{
            width: 100%;
            font-size: 10vw;
        }
    }
    .conteiner-total-content-projeto{
       width: 85%;

       & .content{
        text-align: center;

        & .imagem-content-mobile{
            display: block;
            width: auto;
            height: auto;
        }
        .imagens-projeto{
            width: 300px;
            height: 350px;

        }
       }
       & .imagem-content{
        display: none;
        }
    }
    
}

/*!!!!!! MAIN EQUIPE !!!!!!*/

:root{
    --title:#e6ff06;
}

.conteiner-title-equipe{
    background-image: url(img/imagem-inicial-pagina-equipe.png);
    width: 100vw;
    height: 50vh;
    overflow: hidden;
    
    & .title-inicial-pagina-equipe{
        font-family: "Alegreya Sans" , sans-serif;
        width: 80%;
        height: 50vh;
        margin: auto;
        display: grid;
        align-items: center;
        font-size: 100px;
        color: var(--title);
        text-shadow: #0099ff 5px 5px 5px;
    }
}

.content-pagina-equipe{
    overflow: hidden;
    background: #0138af70;
    width: 70vw;
    height: auto;
    margin: auto;
    margin-block: 100px;
    display: grid;
    gap: 100px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    padding-block: 60px;

    & .title-representantes-geral-equipe{
        width: 100%;
        font-family: "Alegreya Sans" , sans-serif;
        color: #fff;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
    }
    & .description-colaboradores-pagina-equipe{
        width: 90%;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        font-style: oblique;
        font-size: 24px;
        font-weight: 500;
        margin: auto;
    }
    & .content-gerentes{
        width: 90%;
        margin: auto;
        display: flex;
        height: auto;


        & .imagem-gerentes-equipe{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 2px dashed #66c9ea;
        }
        & .information-gerentes{
            width: 75%;
            display: grid;
            gap: 20px;
            padding-inline: 10px;
        }
        & .nome-gerentes{
            font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
            font-size: 2.5em;
            color: #fff;
            text-decoration: underline;
        }
        & .description-grupo-atuante{
            font-family: Arial, Helvetica, sans-serif;
            height: auto;
            font-size: 1.5em;
            text-align: justify;

            & em{
                font-weight: 700;
            }
        }
    }
}

@media (max-width: 950px) {
    .conteiner-title-equipe{

        & .title-inicial-pagina-equipe{
        font-size: 10vw;
        }
    }
    .content-pagina-equipe{
        margin-block: 0;
        width: 100vw;
        border-radius: 0;

        & .content-gerentes{
            display: grid;
            justify-items: center;
            text-align: center;
            
            & .imagem-gerentes-equipe{
                width: 300px;
                height: 300px;
                margin-right: 50px;
            }
            & .information-gerentes{
                width: 100vw;
                text-align: center;
            }
            & .nome-gerentes , .description-grupo-atuante{
                width: 90%;
            }
        }
    }
}

/*!!!!!! MAIN CONTATOS !!!!!!*/

.conteiner-title-contato{
    background-image: url(img/imagem-inicial-pagina-contato.png);
    width: 100vw;
    height: 50vh;
    overflow: hidden;
    
    & .title-inicial-pagina-contato{
        font-family: "Alegreya Sans" , sans-serif;
        width: 80%;
        height: 50vh;
        margin: auto;
        margin-left: 20px;
        display: grid;
        align-items: center;
        font-size: 100px;
        color: var(--title);
        text-shadow: #0099ff 5px 5px 5px;
    }
}
.conteiner-total-pagina-contato{
    background-color: #000;
    border-radius: 25px;
    padding-block: 20px;
    overflow: hidden;
    width: 40vw;
    margin: auto;
    margin-block: 100px;
    display: grid;
    gap: 10rem;
    justify-content: center;

    &  .content-contato{
        width: 100%;
    }
    &   .text-contato , p{
        width: 90%;
        font-family: Arial, Helvetica, sans-serif;
        color: whitesmoke;
        text-align: center;
        font-style: oblique;
        font-size: 24px;
        font-weight: 500;
        margin: auto;
    }
    & .info-contatos{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;

    }
    & .icons-contato{
        font-size: 30px;
        margin-right: 20px;
    }
    & #icon-whatsapp{
        color: #45ff42;
    }
    & #icon-instagram{
        color: #bb00ffbc;
    }
    & #icon-email{
        color: #fff653;
    }
    & a{
        color: white
    }
}

@media (max-width: 950px) {
    .conteiner-title-contato{
        & .title-inicial-pagina-contato{
            width: 100%;
            font-size: 10vw;
        }
    }
    .conteiner-total-pagina-contato{
        width: 80vw;
    }
}

/*!!!!!! FOOTER !!!!!!*/

.footer{
    background-color: var(--cor-fundo-preto-footer);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100vw;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteiner-imagem-footer{
    display: flex;
    align-items: center;
    width: 33.33%;
    height: 100%;
}
.imagem-logo-footer{
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 50%;
}
.conteiner-footer-content{
    width: 33.33%;
    height: 30%;
    display: grid;
    justify-content: center;
    text-align: center;

    & .title-contatos{
        text-align: left;
        font-size: 30px;
        margin-bottom: 30px;
        margin-left: 20%;
    }
    & p{
        text-align: left;
    }

    & a{
        text-decoration: none;
        color: white;
    }
    & .icon{
        margin-top: 10px;
        width: 25px;
        height: 25px;
        color: #008ab8;
    }
    & p a{
        text-decoration: underline;
    }
}
.conteiner-footer-content > h2 , h3{
    font-size: 1rem;
}
@media (max-width: 950px) {
    .conteiner-imagem-footer{
        display: none;
    }
    .conteiner-footer-content{
        width: 100%;
        justify-content: center;
    }
    .footer{
        display: grid;
    }
}
